/* Definition des polices */
@font-face{
	font-family: 'ballpark';
	src: url('polices/ballpark.eot');
	src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
		 url('polices/ballpark.woff') format('woff'),
		 url('polices/ballpark.ttf') format('truetype'),
		 url('polices/ballpark.svg#advent_prolight') format('svg');
}

@font-face{
	font-family: 'dayrom';
	src: url('polices/dayrom.eot');
	src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
		 url('polices/dayrom.woff') format('woff'),
		 url('polices/dayrom.ttf') format('truetype'),
		 url('polices/dayrom.svg#advent_prolight') format('svg');
}

body
{
	background-image: url('images/fond_jaune.png');
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'dayrom', serif, sans-serif;
}

header
{
	display: flex;
	justify-content: space-between;
	height: 107px;
	background: url('images/separateur.png') repeat-x bottom;
}

/* Partie logo */

#logo
{
	display: flex;
	flex-direction: column;
	height: 100px;
}

#logo > h2
{
	margin-top: 0px;
	margin-bottom: 0px;
}

#titreZozor
{
	font-family: 'ballpark', serif, sans-serif;
	font-size: 1.2em;
	position: relative;
	top: 6px;
}

#logo > p
{
	margin-top: -3px;
	margin-left: 3px;
}

/* Partie menu */

#menu
{
	display: flex;
	list-style: none;
	justify-content: space-around;
	width: 350px;
	margin-top: 60px;
	height: 30px;
}

.elementMenu
{
	text-decoration: none;
	color: black;
}

.elementMenu:hover
{
	color: brown;
	border-bottom: 3px solid brown;
}

#banniere
{
	background-image: url('images/sanfrancisco.jpg');
	height: 200px;
	border-radius: 5px;
	box-shadow: 3px 3px 6px black;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-top: 20px;
}

#phrase
{
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	height: 40px;
	margin-bottom: 2px;
	border-radius: 0px 3px;

}

#bouton
{
	height: 30px;
	width: 60px;
	background: url('images/fond_degraderouge.png');
	border-radius: 2px;
	text-decoration: none;
	color: white;
	text-align: center;
	font-size: 0.7em;
	padding: 4px 4px;
	position: relative;
	right: -510px;
	bottom: -8px;
}

section
{
	display: flex;
	padding-bottom: 50px;
}

#icone
{
	position: relative;
	top: 15px;
	margin-right: 7px;
}

aside
{
	background-color: grey;
	height: 360px;
	margin-top: 35px;
	border-radius: 7px;
	padding: 10px;
	color: white;
	text-align: center;
}

#flechebulle
{
	position: relative;
	top: 55px;
	left: -58px;
}

aside > h2
{
	font-size: 0.8em;
}

aside > p
{
	text-align: justify;
	font-size: 0.7em;
}

#reseauSociaux
{
	margin-left: -30px;
	margin-right: 10px;
	margin-bottom: 5px;
	display: flex;
	justify-content: space-around;
	list-style: none;
}

article
{
	margin-right: 10px;
}


footer
{
	display: flex;
	background: url('images/ico_top.png') no-repeat top center, url('images/separateur.png') repeat-x top,url('images/ombre.png') repeat-x top;
	padding-top: 30px;
	justify-content: space-between;

}

footer > div > h2
{
	font-size: 1.1em;
}

#icone
{
	
}

#photos
{
	display: flex;
	list-style: none;
	justify-content: space-between;
}

#photos > li
{
	border:  1px solid black;
	height: 69px;
	margin-right: 5px;
}

#mesAmis
{
	display: flex;
}

#listeAmis
{
	display: flex;
	color: brown;
	list-style-image: url('images/ico_liensexterne.png');
}